@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #18181C;
  color: #F0F0F2;
  font-family: system-ui, -apple-system, sans-serif;
}